.yahoo-header{
    position: relative;
    background-color: #fff;
    color: #26282a;
    line-height: 84px;
    padding-left: 50px;
}


.yahoo-header-help{
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
}
.yahoo-header .yahoo-logo{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: normal;
    font-size: 0;
}
.yahoo-logo{
    height: 36px;
}
.yahoo-header-logo{
    height: 27px;
}
.login-box-account-profile-pic-box{
    float: left;
    width: 2.23529rem;
    height: 1.88235rem;
}
.login-box-account-profile-pic{
    width: 1.41176rem;
    height: 1.41176rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.login-box-container{
    margin: 0 auto;
    max-width: 1030px;
    min-width: 320px;
    position: relative;
}
.login-box{
    margin: 0 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #26282a;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    min-width: 355px;
    right: 0;
    min-height: 550px;
    z-index: 1;
    padding: 28px 5px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-top: 1px solid #f1f1f5;
    position: absolute;
    top: 11px;
}
.login-box-account-changer{
    margin: 0 auto;
    max-width: 18.82353rem;
    padding: 0 .75rem;
}
.login-box-account-changer-header{
    margin-top: .94118rem;
    min-height: 1rem;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.login-box-account-changer-description{
    line-height: 1.17647rem;
    display: block;
    padding: 0;
    margin-top: .35294rem;
    margin-bottom: 30px;
    font-size: .88rem;
    letter-spacing: -.3px;
    text-align: center;
}
.login-box-account-changer-description-header{
    display: block;
    margin: 0;
    margin-top: .82353rem;
    margin-bottom: 10px;
    font-size: 1.17647rem;
    font-weight: 640;
    letter-spacing: -.2px;
    text-align: center;
    line-height: 1.35294rem;
}
.login-box-account-card{
    border-radius: 4px;
    padding: .47059rem;
    padding-top: .70588rem;
    padding-bottom: .58824rem;
    margin: .70588rem 0;
    padding-left: 0;
    min-height: 5.26471rem;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #e0e4e9;
    box-shadow: unset;
}
.login-box-account-card:hover{
    border: 1px solid #519fe8;
    cursor: pointer;
}

.login-box-state-indicator{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    position: absolute;
    background-color: #b9bdc5;
    top: 1.41176rem;
    left: 1.41176rem;
    border: 2px solid #fff;
}
.card-container{
    float:left;
    max-width: 11.17647rem;
}
.card-container-title{
    font-size: .91353rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.41176rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-container-email{
    font-size: .78588rem;
    line-height: 1rem;
    margin-top: .23529rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-container-status{
    margin-top: .11765rem;
    font-size: .78588rem;
    letter-spacing: .2px;
    color: #828c93;
    line-height: 1.17647rem;
    font-style: italic;
}
.card-container-dots{
    position: absolute;
    right: 0;
    width: 1.22941rem;
    height: 1.38235rem;
}
.card-container-dots img{
    height: 1.11176rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-left: auto;
    margin-right: auto;
}
.login-box-right-use-another-account{
    text-align: center;
    padding: 5px 10px 25px;
    font-size: .82353rem;
    line-height: 1rem;
    white-space: normal;
}