html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code, del, dfn, em, img, input, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    min-height: calc(100vh - 48px);
    line-height: 1;
    font-family: IBMPlexSans, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

button{
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}
.header{
    flex: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 80;
    margin-top: 0;
}
.header-box{
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 20px;
}
.header-box-part-one{
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: var(--newCommunityTheme-body);
    border-bottom: 1px solid var(--newCommunityTheme-line);
    box-sizing: border-box;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 20px;
}
.header-box-part-one-reddit-logo-box{
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media (min-width: 995px) {
.dropdown {
    width: 270px;
}}
.dropdown{
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
    position: relative;
    width: 72px;
}
.dropdown-button{
    background-color: var(--newRedditTheme-body);
    bottom: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--newRedditTheme-bodyText);
    height: 100%;
    left: 0;
    line-height: 34px;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 56px;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 100%;
}
.dropdown-button-placeholder{

}
@media (min-width: 995px){

.dropdown-button-placeholder {
    display: inline;
}}
.dropdown-button-placeholder{
    display: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.searcher{
        fill: var(--newCommunityTheme-navIcon);
        flex-grow: 1;
        margin-left: 16px;
        margin-right: 16px;
        width: auto;
        position: relative;
}
.searcher-label{
    position: absolute;
    top: 50%;
    left: 0;
    height: 18px;
    margin-left: 16px;
    margin-top: -9px;
}
.serach-label-logo{
    fill: var(--newRedditTheme-actionIcon);
    width: 18px;
    height: 18px;
}
.reddit-search{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.reddit-search-input{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--newRedditTheme-field);
    border-radius: 4px;
    border: 1px solid var(--newRedditTheme-line);
    box-shadow: none;
    color: var(--newRedditTheme-bodyText);
    display: block;
    height: 36px;
    outline: none;
    padding: 0 16px 0 40px;
    width: 100%;

}

/* //////////////////////////// */

.header-box-part-two{
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.header-box-part-two-icon-box{
    border-right: 1px solid var(--newCommunityTheme-line);
    margin-right: 8px;
    padding-right: 8px;
}
@media (min-width: 788px){

.header-box-part-two-icon-box {
    display: flex;
}}
.header-box-part-two-icon-box, .header-box-part-two-icon-box-box {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}
.icon-box{
    border-radius: 2px;
    fill: var(--newCommunityTheme-navIcon);
    height: 16px;
    line-height: 14px;
    padding: 8px;
    width: 16px;
}
.header-box-part-two-last{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
}
@media (min-width: 600px){
    .chat-message-create-getcoins{
        display: -ms-flexbox;
        display: flex;
}}
.chat-message-create-getcoins-icon{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.header-box-part-two-last-user-dropdown{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.header-box-part-two-last-user-dropdown-button{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px 0;
    min-height: 32px;
}
.dropdown-button-box{
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}
@media (min-width: 1210px){
.dropdown-button-box-one{
    width: 175px;
}}

.dropdown-button-box-one {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
    text-align: left;
    width: 32px;
}
.dropdown-button-box-one-logo{
    border-radius: 4px;
    float: left;
    margin-right: 5px;
    max-height: 24px;
    max-width: 24px;
}
@media (min-width: 1210px){

.dropdown-button-box-one-logo{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}}

.dropdown-button-box-one-arrow{
    display: inline-block;
    fill: var(--newCommunityTheme-actionIcon);
    height: 20px;
    vertical-align: middle;
    width: 20px;
}